# Editor
/.fleet
/.idea
/.vscode

# npm
node_modules
package-lock.json
*.log
*.gz

# Coveralls
.nyc_output
coverage

/node_modules
/dist
.env
.env.backup
.env.production
.yarn

npm-debug.log
yarn-error.log